body {
	font-family: sans-serif;
	background-color: #d2cece;
}

.left {
    width: 5%;
    float: right;
}

.right {
    width: 5%;
}

.middle {
	background-color: white;
    float: right;
    width: 90%;
    border-width: 0 1px 0 1px;
    border-style: solid;
    padding: 10px 10px 200px 10px;
}


form {
    border-top: solid;
    border-width: thin;
    padding-top: 1em;
}

input#fi {
    border-style: solid;
    border-width: thin;
    padding: 0.25em;
    border-radius: 0.25em;
}

.fel {
    margin-bottom: 1em;
}

textarea {
    width: 100%;
}

#copy-text {
    margin-top: 1em;
    display: block;
}

.output {
    border-style: solid;
    border-width: thin;
    margin-top: 1em;
    padding: 0.5em;
}