body {
	font-family: sans-serif;
	background-color: #d2cece;
}

.left {
    width: 20%;
    float: right;
}

.right {
    width: 20%;
}

.middle {
	background-color: white;
    float: right;
    width: 60%;
    border-width: 0 1px 0 1px;
    border-style: solid;
    padding: 10px 10px 200px 10px;
}

.output {
    border-style: solid;
    border-width: thin;
    margin-top: 1em;
    padding: 0.5em;
}